<section class="snap-container">
    <span class="text-tiny uppercase pb-8">
        ab Herbst 2020
    </span>
    <h1 class="text-4xl lg:text-7xl font-hairline leading-none mb-6">
        welcome<br />
        <b class="font-bold">home</b>
    </h1>
    <span class="text-xl">
        Willkommen bei <b class="font-bold">gettup</b>, der Software-Plattform<br>
        <b>
            für gemeinnützige Vereine, Organisationen und Stiftungen.
        </b>
    </span>
    <div class="lg:hidden pt-16">
        <include src="whitepaper-link.html"></include>
    </div>
    <div class="w-10 lg:w-16"></div>
</section>