<section class="snap-container">
    <div class="ms-slider text-xl lg:text-2xl font-hairline">
        <ul class="ms-slider__words">
            <li class="ms-slider__word"><b class="font-bold">Weltverbesserer</b>innen</li>
            <li class="ms-slider__word"><b class="font-bold">Ideenwahrwerdenlasser</b>innen</li>
            <li class="ms-slider__word"><b class="font-bold">Hoffnungsschenker</b>innen</li>
            <li class="ms-slider__word"><b class="font-bold">Zukunftsgestalter</b>innen</li>
            <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
            <li class="ms-slider__word"><b class="font-bold">Weltverbesserer</b>innen</li>
        </ul>
    </div>
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Ihr <b class="font-bold">verändert</b> alles
    </h2>
    <p class="max-w-lg ml-auto">
        Ihr investiert Herzblut, Leidenschaft und unbezahlte Arbeitsstunden. Ihr macht es, weil euch die Sache am Herzen liegt. Weil ihr die Menschen, Tiere oder die Umwelt liebt. Wofür auch immer ihr euch engagiert, Ihr gibt euer Bestes. Und das hat die beste Unterstützung verdient.
    </p>
</section>