<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Was spricht <b class="font-bold">für uns</b>?
    </h2>
    <div class="lg:max-w-lg lg:ml-auto">
        <ul class="pl-12">
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir machen Dich zukunftsfit.</b> Du schaffst Dir bei uns
                    ein
                    digitales Zuhause – bei allen Verwaltungsthemen bist Du künftig immer up to date.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir sorgen für mehr Zeit.</b> Du musst Dich nicht mehr mit
                    Administration rumärgern, sondern kannst Dich voll auf Deine Kernaufgaben als NGO konzentrieren.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir setzen auf Einfachheit.</b> Du wirst sehen: Unser
                    Portal
                    ist intuitiv aufgebaut und völlig unkompliziert in der Handhabung.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Dir Mobilität.</b> Deine Verwaltung hast Du
                    künftig überall dabei. An jedem Ort der Welt.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Dir Rechtssicherheit.</b> Gesetzliche Regeln zu
                    Datenschutz und Co. ändern sich schnell – bei gettup bist Du immer auf der sicheren Seite.
            </li>
            </p>
        </ul>
    </div>
</section>