<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Warum gibt es <b class="font-bold">gettup</b>?
    </h2>
    <p class="max-w-lg ml-auto">
        Viele Branchen nutzen bereits die Chancen, die uns die Digitalisierung bietet und sichern sich so mehr Effizienz
        und Schnelligkeit. Wir finden: Auch all die Menschen, die in NGOs leidenschaftlich und voller Überzeugung für
        ihre Sache kämpfen, haben die beste Unterstützung und unkomplizierte Lösungen verdient.
    </p>
</section>