<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Was spricht <b class="font-bold">für uns</b>?
    </h2>
    <div class="lg:max-w-lg lg:ml-auto">
        <ul class="pl-12">
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir machen Euch zukunftsfit.</b> Ihr bekommt ein digitales Zuhause für Eure Verwaltung und bleibt immer up to date. Klingt gut, oder?!</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir sorgen für mehr Zeit.</b> Keine lästige Administration mehr: Mit uns könnt Ihr Euer Augenmerk endlich wieder auf Kernaufgaben richten.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir setzen auf Einfachheit.</b> Ihr werdet sehen: Unser Portal ist intuitiv aufgebaut und völlig easy in der Handhabung.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Euch Mobilität.</b> Eure Verwaltung habt Ihr künftig an jedem Ort der Welt dabei – das ist heute einfach ein Muss.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Euch Sicherheit.</b> Gesetzliche Regeln zu Datenschutz und Co. ändern sich schnell. Aber bei uns seid Ihr immer auf der sicheren Seite.
            </li>
        </ul>
    </div>
</section>