<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Was spricht <b class="font-bold">für uns</b>?
    </h2>
    <div class="lg:max-w-lg lg:ml-auto">
        <ul class="pl-12">
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir machen Dich zukunftsfit.</b> Du bekommst ein digitales Zuhause für Deine Verwaltung und bleibst immer up to date. Klingt gut, oder?!</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir sorgen für mehr Zeit.</b> Keine lästige Administration mehr: Mit uns kannst Du Dein Augenmerk endlich wieder auf Kernaufgaben richten.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir setzen auf Einfachheit.</b> Du wirst sehen: Unser Portal ist intuitiv aufgebaut und völlig easy in der Handhabung.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Dir Mobilität.</b> Deine Verwaltung hast Du künftig an jedem Ort der Welt dabei – das ist heute einfach ein Muss.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Dir Sicherheit.</b> Gesetzliche Regeln zu Datenschutz und Co. ändern sich schnell. Aber bei uns bist Du immer auf der sicheren Seite.
            </li>
        </ul>
    </div>
</section>