<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Was spricht <b class="font-bold">für uns</b>?
    </h2>
    <div class="lg:max-w-lg lg:ml-auto">
        <ul class="pl-12">
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir machen Euch bereit für die Zukunft.</b> Ihr schafft Euch bei uns ein digitales Zuhause, das wir stetig weiterentwickeln.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir schaufeln Euch Zeit frei.</b> Ihr vereinfacht mit gettup Eure Administration und könnt Euch so auf Eure Kernaufgaben konzentrieren.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir setzen auf Einfachheit.</b> Ihr werdet sehen: Unsere Plattform ist übersichtlich aufgebaut und lässt sich intuitiv bedienen.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir sind da, wo Ihr seid.</b> Ob zu Hause auf dem Rechner oder von unterwegs auf dem Smartphone: Arbeitet mit uns wo Ihr wollt.</p>
            </li>
            <li class="relative">
                <include src="arrow-right.html"></include>
                <p><b>Wir bieten Euch Sicherheit.</b> Gesetzliche Regeln zu Datenschutz und Co. ändern sich schnell. Bei uns seid Ihr immer auf der sicheren Seite.</p>
            </li>
        </ul>
    </div>
</section>