<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Was <b class="font-bold">bieten wir</b> dir?
    </h2>
    <p class="max-w-lg ml-auto">
        Kurz gesagt: Alles, was Du brauchst um Deine Verwaltung zu managen und noch erfolgreicher als NGO zu agieren.
        Dazu gehören z. B. <b>Profil- und Projektseiten</b>, auf denen Du Deine Botschaften und Spendenkanäle
        präsentieren und
        in sozialen Netzwerken teilen kannst. Auch Dein gesamtes <b>Kontaktmanagement</b> kannst Du bei uns
        organisieren,
        selbstverständlich unter Einhaltung höchster Sicherheitsstandards. Und Dein <b>Controlling</b> – mit Deinen
        gesamten
        Einnahmen und Ausgaben – ist bei uns einfach nur noch einfach. Übersichtlich. Auf Knopfdruck verfügbar. Du wirst
        sehen: Das erleichtert auch Deine Steuererklärung als NGO.
    </p>
</section>