<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Jetzt schon <b class="font-bold">neugierig</b>?
    </h2>
    <p class="max-w-lg ml-auto">
        Dann erfahre als einer der ersten alle Details über gettup und melde Dich für
        unseren Newsletter an. <br>
        Einfach E-Mail-Adresse eintragen und schon geht´s los. Als Dankeschön versorgen wir Dich ab sofort und
        regelmäßig mit hilfreichen Infos zu den geplanten Corona Staatshilfen für gemeinnützige Organisationen.
    </p>
</section>