<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Worum geht´s <b class="font-bold">konkret</b>?
    </h2>
    <p class="max-w-lg ml-auto">
        Kurz gesagt: Wir helfen Euch bei dem, was Zeit und Nerven kostet. Eure gesamte Einnahmen- und Ausgaben-Orga ist bei uns einfach nur noch einfach. Übersichtlich. Auf Knopfdruck verfügbar. Da wird die Steuererklärung zum Kinderspiel. Auch beim wichtigen Thema „Kontakte“ helfen wir Euch natürlich. All das könnt Ihr auf unserem Portal ganz einfach organisieren. Klar, dass wir dabei immer auf höchste Sicherheitsstandards setzen. Und wir wissen auch: Nichts ist für NGOs wichtiger als Präsenz! Deshalb könnt Ihr bei uns auch Profil- und Projektseiten anlegen, auf denen Ihr Eure Botschaften und Spendenkanäle präsentieren und in sozialen Netzwerken teilen könnt.
    </p>
</section>