<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Worum geht´s <b class="font-bold">konkret</b>?
    </h2>
    <p class="max-w-lg ml-auto">
        Kurz gesagt: Wir helfen Euch bei dem, was Zeit und Nerven kostet. Finanzen, zum Beispiel. Mit gettup wird die nächste Steuererklärung zum Kinderspiel, denn sämtliche Einnahmen und Ausgaben sind übersichtlich und auf Knopfdruck verfügbar. Daten von Mitgliedern und Spendern intuitiv erfassen und datenschutzkonform vorhalten? Aber ja, gettup ist absolut zuverlässig, denn wir setzen kompromisslos auf die höchsten Sicherheitsstandards. Und wir wissen auch: Nichts ist für eine NGO so wichtig wie ein guter Auftritt im Internet. Deshalb bekommt Ihr bei gettup auch eine Website und könnt so, ganz ohne Programmierkenntnisse, Eure Projekte und Spendenkanäle präsentieren und in sozialen Netzwerke teilen.
    </p>
</section>