<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Worum geht´s <b class="font-bold">konkret</b>?
    </h2>
    <p class="max-w-lg ml-auto">
        Kurz gesagt: Wir helfen Dir bei dem, was Zeit und Nerven kostet. Deine gesamte Einnahmen- und Ausgaben-Orga ist bei uns einfach nur noch einfach. Übersichtlich. Auf Knopfdruck verfügbar. Da wird die Steuererklärung zum Kinderspiel. Auch beim wichtigen Thema „Kontakte“ helfen wir Dir natürlich. All das kannst Du auf unserem Portal ganz einfach organisieren. Klar, dass wir dabei immer auf höchste Sicherheitsstandards setzen. Und wir wissen auch: Nichts ist für NGOs wichtiger als Präsenz! Deshalb kannst Du bei uns auch Profil- und Projektseiten anlegen, auf denen Du Deine Botschaften und Spendenkanäle präsentieren und in sozialen Netzwerken teilen kannst.
    </p>
</section>