<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Was wird <b class="font-bold">gettup</b> kosten?
    </h2>
    <p class="max-w-lg ml-auto">
        Hand auf‘s Herz: Es gibt wohl kaum eine gemeinnützige Organisation, die in Geld schwimmt. Im Gegenteil, die meisten müssen jeden Cent zweimal umdrehen, bevor sie ihn ausgeben. Wir finden, Digitalisierung für eine kleine NGO darf im Monat nicht mehr kosten, als eine Pizza beim Italiener um die Ecke. Und daran halten wir uns.
    </p>
</section>