<section class="snap-container">
    <h2 class="text-3xl lg:text-5xl leading-tight font-hairline pb-8">
        Warum gibt es <b class="font-bold">gettup</b>?
    </h2>
    <p class="max-w-lg ml-auto">
        Wir finden: Alle Menschen, die in NGOs leidenschaftlich für ihre Sache kämpfen, haben im Zuge der Digitalisierung die beste Unterstützung verdient. Ihr handelt aus tiefster Überzeugung, Ihr brennt für Euer Thema – und mit genau diesem Engagement wollen auch wir Euch unterstützen. Digitale Verwaltung soll für Euch keine Hürde sein, sondern einfach und schnell erledigt. gettup ist startklar. Ihr auch?
    </p>
</section>